/*
Author: Christian Sandoval
Date: April 12, 2022
File Name: styles08.css
*/

body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for the container */
#container {
  width: 80%;
  margin: 0 auto;
}

body {
    background-color: #ffe5dc;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    color: #a22c02;
}

table {
    width:700px;
    margin: auto;
    border: 4px solid #fd4d0c;
    box-shadow:10px 10px 5px #792101;
    border-collapse: collapse;
}

table tr, td {
    border: 1px solid #a22c02;
}

tr:nth-child(odd) {
    background-color: #fe9772;
}

table thead, th {
    background-color: #a22c02;
    border: 1px solid white;
    color: white;
}

table th, td {
    padding:8px;
}

table {
  border-collapse: ;
}

p {
    color: black;
    text-align: center;
    padding-top: 15px;
}
